@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

body{

	width: 100%;
	height: auto;
	font-family: "Lato", sans-serif;
  	transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #387FBE;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  position: fixed;
  z-index: 99;
}



#hero{
	width: 100%;
	height: 100vh;
	background-image: url("../img/Hero.jpg");
	background-size: cover;
	position: relative;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
} 

h2{
	font-size: 35px;
	text-align: center;
}

#portfolio{
	height: auto;
	overflow: auto;
}
.leftPort{
	float: left;
	width: 50%;
}

.iphone{
	margin: 30px 10%;
	width: 85%;
}

.rightPort{
	float: left;
	width: 50%;
	text-align: center;
}

.euro{
	margin: 30px 0;
	width: 85%;
}

p{
	font-size:  1.5vw;
}

#about{
	background-color: #0A599E;
	padding: 55px 5%;
	height: auto;
	overflow: auto;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
	width: 100%;
}

#about h2{
	color: white;
}

.aboutText{
	float: left;
	height: auto;
	width: 60%;
	padding: 20px 0 0 0;
	color: white;
}


.aboutImg{
	float: right;
	height: auto;
	width: 40%;
	text-align: right;
	margin: 0 0 40px 0;
	position: relative;
}

.aboutImage{
	width: 90%;


}

#contact{
	height: auto;
	padding: 0 5% 0;
}

.contactImg{
	float: left;
	width: 52%;
}

.contactText{
	float: right;
	width: 48%;
	margin: 30px 0;
}

.contactImage{
	width: 90%;
}

form{
	width: 100%;
	margin:  100px 0;
}

.form{
	width: 100%;
	height: 55px;
	margin: 15px 5% 30px;
	border: 3px solid #0A599E;
 	border-radius: 15px;
}

.name{
	width: 49%;
	float: left;
}

.email{
	width: 49%;
	float: right;
}

.message{
	width: 100%;
	height: 100px;
}

.button{
	height: 50px;
	width:  110px;
	border: 3px solid #0A599E;
 	border-radius: 15px;
	background-color: #0A599E;
	color: white;
	font-size: 18px;
	margin: 20px;
}

.buttonDiv{
	text-align: center;
}

input[type=text] {
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 18px;
	box-sizing: border-box;
}

input[type=email] {
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 18px;
	box-sizing: border-box;
}



@media (max-width:900px){
	#hero{
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
	} 
	
	
	
	.leftPort{
		width: 100%;
	}

	.iphone{
		margin: 30px 2.5%;
		width: 95%;
	}

	.rightPort{
		width: 100%;
	}

	.euro{
		margin: 30px 2.5%;
		width: 95%;
	}

	#about{
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
		clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
	}

	p{
		font-size: 15px;
	}
	
	h2{
		font-size: 25px;
	}
	
	.aboutText{
		width: 100%;
		padding: 20px 0 0 0;
	}


	.aboutImg{
		width: 100%;
		text-align: center;
		margin: 20px 0 2px 0;
		position: relative;
	}
	
	
	

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

